<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owlix | Mie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src='js/actions.js'></script>
    <style>
        body{
            background-color: #FAFAFA;
        }
    </style>
</head>
<body >
  <section style="background-color: white" class="pb-4">
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light px-lg-5">
            <div class="d-flex align-items-center mr-4">
                <a class="navbar-brand border-right pr-3" href="index.html"><img src="assets/img/logo.svg" alt="logo"></a>
                <h4 class="mb-0">Keranjang</h4>
            </div>
           
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="scollapse navbar-collapse" id="collapsibleNavId">
                <form class="input-group md-form form-sm form-4 px-2 mx-lg-5  mt-2 search-bar">
                    <input class="form-control w-75 my-0 py-1 red-border" type="text" style="background-color: transparent;"placeholder="Search" aria-label="Search">
                    <button class="input-group-append btn btn-secondary align-items-center" type="button">
                     <i class="fa fa-search text-grey mx-1"></i>
                    </button>
                  </form>
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item ml-4">
                        <button class="btn-primary px-4 py-2 rounded" type="button" onclick="window.location.href='Login.html'">Login</button>
                    </li>
                </ul>
                
            </div>
        </nav>
        <div class="d-flex justify-content-center pt-4 align-items-center w-100 h-100">
            <div class="d-flex align-items-center step-element mx-5">
                <div class="rounded-circle-finished">
                    <i class="fas fa-check" aria-hidden="true"></i>
                </div>
                <div class="step-desc-active">
                    Keranjang
                </div>
            </div>
            <div class="d-flex align-items-center step-element mx-5">
                <div class="rounded-circle-finished">
                    <i class="fas fa-check" aria-hidden="true"></i>
                </div>
                <div class="step-desc-active">
                    Checkout
                </div>
            </div>
            <div class="d-flex align-items-center step-element mx-5">
                <div class="rounded-circle-active">
                    3
                </div>
                <div class="step-desc-active">
                   Pembayaran
                </div>
            </div>
            <div class="d-flex align-items-center step-element mx-5">
                <div class="rounded-circle-inactive">
                    4
                </div>
                <div class="step-desc-inactive">
                    Selesai
                </div>
            </div>
        </div>
      </div>
  </section>
<section>
    <div class="container d-flex justify-content-center">
        <div class="card px-lg-5 py-lg-5 rounded-medium my-5" style="text-align: center; max-width: 733px;">
            <div>
                <p>Kode Invoice</p>
                <h4>
                    41515 4264 3634 2141 51
                </h4>
            </div>

            <div class="px-5 py-4 mt-3" style="background-color: #FBFBFB;">
                <div class="px-5 py-3 my-3">
                    <p class="text-muted">Selamat! Pesananmu sudah terbuat. segera lakukan pembayaran sebelum :</p>
                    <h4>
                        22 Jam : 33 menit : 19 detik
                    </h4>
                </div>
                <div class="px-5">
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="text-align: left;">Total</td>
                            <td style="text-align: right; font-size: 16px; font-weight: 500;">Rp 409.000</td>
                          </tr>
                          <tr>
                           
                            <td style="text-align: left;">Metode Pembayaran</td>
                            <td style="text-align: right;">BCA</td>
                          </tr>
                          <tr>
                           
                            <td style="text-align: left;">Kode Virtual Account<br>
                                <h5>0213241241515815</h5>
                                <input type="text" value="0213241241515815" id="kodeVA" style="display: none;">
                            </td>
                            <td style="text-align: right;">
                                <button class="btn btn-light" onclick="copyCode()">Salin</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
           
            <div>
                <button class="btn btn-primary py-3 px-4 mt-4 rounded">Konfirmasi Pembayaran</button>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="./src/bootstrap-input-spinner.js"></script>

<script>
    $("input[type='number']").inputSpinner();
</script>
  <script>
    AOS.init();
  </script>
</body>
</html>