<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owlix | Mie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body >
  <section>
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light px-lg-5">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.svg" alt="logo"></a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="scollapse navbar-collapse" id="collapsibleNavId">
                <form class="input-group md-form form-sm form-4 px-2 mx-lg-5  mt-2 search-bar">
                    <input class="form-control w-75 my-0 py-1 red-border" type="text" style="background-color: transparent;"placeholder="Search" aria-label="Search">
                    <button class="input-group-append btn btn-secondary align-items-center" type="button">
                     <i class="fa fa-search text-grey mx-1"></i>
                    </button>
                  </form>
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item active border-right pr-4">
                        <a class="nav-link d-flex" href="#">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                              </svg>
                          <div class="itemsDot rounded-circle bg-warning position-absolute ml-4" style="width: 1em; height: 1em;">
                          </div>
                        </a>
                    </li>
                    <li class="nav-item ml-4">
                        <button class="btn-primary px-4 py-2 rounded" type="button" onclick="window.location.href='Login.html'">Login</button>
                    </li>
                </ul>
                
            </div>
        </nav>
    
        <!--Breadcrumb-->
        
<section>
    <div class="container">
        <div class="py-5 px-5 rounded-images mt-3" style="background-color: #243C81; color: white; text-align: center;">
            <h3 class="mt-5" style="color: #FFD576;">Tentang Owlix</h3>
            <p class="mt-4 px-5 mb-5 mx-5" style="font-weight: 300; line-height: 2; font-size: 18;">
            Owlix adalah sebuah platform wirausaha khusus pelajar pertama di Indonesia yang menjual berbagai produk untuk membantu badan usaha, UMKM , Pelajar ataupun Yayasan untuk berkembang dan menjadi lebih baik.selain itu, Owlix membuka peluang usaha untuk semua orang agar menjadi wirausahawan yang sukses dan bisa membantu semua orang
            </p>
        </div>
        <div style="text-align: center;" class="py-4 px-5 mt-5">
            <h3>Kenapa Harus Berwirausaha di Owlix ?</h3>
            <div class="d-flex justify-content-between align-items-center p-5">
                <div>
                    <img src="assets/img/aboutUsPict1.png" alt="">
                    <p>Buka Usaha tanpa Modal</p>
                </div>
                <div>
                    <img src="assets/img/aboutUsPict2.png" alt="">
                    <p>Ringkas dan 
                        Praktis</p>
                </div>
                <div>
                    <img src="assets/img/aboutUsPict3.png" alt="">
                    <p>Membantu 
                        sesama</p>
                </div>
                <div>
                    <img src="assets/img/aboutUsPict4.png" alt="">
                    <p>Tidak harus 
                        punya produk</p>
                </div>
                <div>
                    <img src="assets/img/aboutUsPict5.png" alt="">
                    <p>Keuntungan 100%
                        untuk kamu</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container rounded py-5" style="background-color: #f0f4ff; color: black;">
        <div class="align-items-center justify-content-between">
            <div> 
                <div class="py-3 px-5" style="">
                <h3>Visi</h3>
                <p>Owlix adalah sebuah platform wirausaha khusus pelajar pertama di Indonesia</p>
            </div>
            <div class="py-3 px-5" style="vertical-align: center;">
                <h3>Misi</h3>
               <ol>
                   <li>Menyediakan platform wirausaha untuk mensejahterakan masyarakat </li>
                   <li>Membantu UMKM menengah kebawah</li>
                   <li>Mengadakan aksi sosial dengan cara menggalang dana melalui sistem donasi di platform OWLIX</li>
               </ol>
            </div>
        </div>
        </div>
       
       
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="./src/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>
  <script>
    AOS.init();
  </script>
</body>
</html>